#Main-Container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 93%;

  
  border: 1px solid lightblue;
  min-height: 25rem;
  border-radius: 10px;

  #labels {
    border-bottom: 1px solid rgb(35, 50, 119);
    height: 40px;
    margin: 5px 10px;
    padding: 0px 20px;
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.01fr;
    align-items: center;
  }

  .Job-Card{
    border: 1px solid black;
    height: 60px;
    margin: 5px 10px;
    padding: 0px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.01fr;
    align-items: center;

    &:hover{
      cursor: pointer;
      border: 1px solid rgb(0, 119, 255);
    }

    &#New-Job-Card{
     
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 5px;
      height: 70px;
  
     
      #New-Job-Inputs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.01fr;
        align-items: center;
        width: 100%;
        
      }

      #Save-New {
        background-color: rgb(4, 194, 4);
        border: none;
        padding: 3px 10px;
        border-radius: 10px;
      }
    }
    
  }

  #Zero-Jobs{
    // border: 1px red solid;
    text-align: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
    color: black;
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 25px;
    width: auto;
  }

  #newRecord {
    background-color: rgb(4, 194, 4);
  }
    
  }




}