* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#navbar{
  display: flex;
  border: 1px black solid;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 65px;
 
  background-color: rgb(137, 170, 207);

  #homeLogo {
    font-size: 2rem;
    color: whitesmoke;
    margin-left: 40px;
  }

  #username{
    font-size: 1.2rem;
    color: whitesmoke;
    margin-right: 40px;
  }
}